<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.37
    Uninstalling SQLAlchemy-1.4.37:
      Successfully uninstalled SQLAlchemy-1.4.37
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in c:\users\farhanah\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\farhanah\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in c:\users\farhanah\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\farhanah\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in c:\users\farhanah\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython-sql) (8.3.0)
Requirement already satisfied: prettytable<1 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: matplotlib-inline in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments>=2.4.0 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (62.4.0)
Requirement already satisfied: traitlets>=5 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: colorama in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\farhanah\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\farhanah\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\farhanah\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\farhanah\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\farhanah\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\farhanah\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\farhanah\\AppData\\Local\\Temp\\pip-uninstall-6_9kzbas\\_libs\\algos.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv(r"https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [7]:
%sql SELECT DISTINCT(LAUNCH_SITE) from SPACEXTBL order by LAUNCH_SITE ASC;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%sql select * from SPACEXTBL where LAUNCH_SITE like 'CCA%' limit(5);

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:
%sql select sum (PAYLOAD_MASS__KG_) from SPACEXTBL where Customer ='NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [10]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version ='F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [8]:
%sql select min(Date) from SPACEXTBL where [Landing _Outcome] = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
%sql select Booster_Version from SPACEXTBL where [Landing _Outcome] = 'Success (drone ship)' 
and PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_ <6000 order by Booster_Version ASC;

 * sqlite:///my_data1.db
Done.

[('F9 FT  B1021.2',), ('F9 FT  B1031.2',), ('F9 FT B1022',), ('F9 FT B1026',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [13]:
%sql select count(Mission_Outcome) from SPACEXTBL where Mission_Outcome like '%Success%';

 * sqlite:///my_data1.db
Done.

[(100,)]

In [14]:
%sql select count(Mission_Outcome) from SPACEXTBL where Mission_Outcome like'%Failure%';

 * sqlite:///my_data1.db
Done.

[(1,)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [15]:
%sql select Booster_Version from SPACEXTBL where PAYLOAD_MASS__KG_ = (select max (PAYLOAD_MASS__KG_) from SPACEXTBL) 
order by Booster_Version ASC;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7 ',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1060.3',)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [16]:
%sql select substr(Date, 4, 2) as Month , substr(Date, 7, 4) as Year, Date, Mission_Outcome, 
[Landing _Outcome], Booster_Version, Launch_Site from SPACEXTBL 
where [Landing _Outcome] = 'Failure (drone ship)' and Year = '2015'

 * sqlite:///my_data1.db
Done.

[('01', '2015', '10-01-2015', 'Success', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', '2015', '14-04-2015', 'Success', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [17]:
%sql select Booster_Version, Launch_Site, [Landing _Outcome], substr(Date, 4, 2) as Month from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003', 'CCAFS LC-40', 'Failure (parachute)', '06'),
 ('F9 v1.0  B0004', 'CCAFS LC-40', 'Failure (parachute)', '12'),
 ('F9 v1.0  B0005', 'CCAFS LC-40', 'No attempt', '05'),
 ('F9 v1.0  B0006', 'CCAFS LC-40', 'No attempt', '10'),
 ('F9 v1.0  B0007', 'CCAFS LC-40', 'No attempt', '03'),
 ('F9 v1.1  B1003', 'VAFB SLC-4E', 'Uncontrolled (ocean)', '09'),
 ('F9 v1.1', 'CCAFS LC-40', 'No attempt', '12'),
 ('F9 v1.1', 'CCAFS LC-40', 'No attempt', '01'),
 ('F9 v1.1', 'CCAFS LC-40', 'Controlled (ocean)', '04'),
 ('F9 v1.1', 'CCAFS LC-40', 'Controlled (ocean)', '07'),
 ('F9 v1.1', 'CCAFS LC-40', 'No attempt', '08'),
 ('F9 v1.1 B1011', 'CCAFS LC-40', 'No attempt', '09'),
 ('F9 v1.1 B1010', 'CCAFS LC-40', 'Uncontrolled (ocean)', '09'),
 ('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)', '01'),
 ('F9 v1.1 B1013', 'CCAFS LC-40', 'Controlled (ocean)', '02'),
 ('F9 v1.1 B1014', 'CCAFS LC-40', 'No attempt', '03'),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)', '04'),
 ('F9 v1.1 B1016', 'CCAFS LC-40', 'No attempt', '04'),
 ('F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)', '06'),
 ('F9 FT B1019', 'CCAFS LC-40', 'Success (ground pad)', '12'),
 ('F9 v1.1 B1017', 'VAFB SLC-4E', 'Failure (drone ship)', '01'),
 ('F9 FT B1020', 'CCAFS LC-40', 'Failure (drone ship)', '03'),
 ('F9 FT B1021.1', 'CCAFS LC-40', 'Success (drone ship)', '04'),
 ('F9 FT B1022', 'CCAFS LC-40', 'Success (drone ship)', '05'),
 ('F9 FT B1023.1', 'CCAFS LC-40', 'Success (drone ship)', '05'),
 ('F9 FT B1024', 'CCAFS LC-40', 'Failure (drone ship)', '06'),
 ('F9 FT B1025.1', 'CCAFS LC-40', 'Success (ground pad)', '07'),
 ('F9 FT B1026', 'CCAFS LC-40', 'Success (drone ship)', '08'),
 ('F9 FT B1029.1', 'VAFB SLC-4E', 'Success (drone ship)', '01'),
 ('F9 FT B1031.1', 'KSC LC-39A', 'Success (ground pad)', '02'),
 ('F9 FT B1030', 'KSC LC-39A', 'No attempt', '03'),
 ('F9 FT  B1021.2', 'KSC LC-39A', 'Success (drone ship)', '03'),
 ('F9 FT B1032.1', 'KSC LC-39A', 'Success (ground pad)', '05'),
 ('F9 FT B1034', 'KSC LC-39A', 'No attempt', '05'),
 ('F9 FT B1035.1', 'KSC LC-39A', 'Success (ground pad)', '06'),
 ('F9 FT  B1029.2', 'KSC LC-39A', 'Success (drone ship)', '06'),
 ('F9 FT B1036.1', 'VAFB SLC-4E', 'Success (drone ship)', '06'),
 ('F9 FT B1037', 'KSC LC-39A', 'No attempt', '07'),
 ('F9 B4 B1039.1', 'KSC LC-39A', 'Success (ground pad)', '08'),
 ('F9 FT B1038.1', 'VAFB SLC-4E', 'Success (drone ship)', '08'),
 ('F9 B4 B1040.1', 'KSC LC-39A', 'Success (ground pad)', '09'),
 ('F9 B4 B1041.1', 'VAFB SLC-4E', 'Success (drone ship)', '10'),
 ('F9 FT  B1031.2', 'KSC LC-39A', 'Success (drone ship)', '10'),
 ('F9 B4 B1042.1', 'KSC LC-39A', 'Success (drone ship)', '10'),
 ('F9 FT  B1035.2', 'CCAFS SLC-40', 'Success (ground pad)', '12'),
 ('F9 FT  B1036.2', 'VAFB SLC-4E', 'Controlled (ocean)', '12'),
 ('F9 B4 B1043.1', 'CCAFS SLC-40', 'Success (ground pad)', '01'),
 ('F9 FT  B1032.2', 'CCAFS SLC-40', 'Controlled (ocean)', '01'),
 ('F9 FT  B1038.2', 'VAFB SLC-4E', 'No attempt', '02'),
 ('F9 B4 B1044', 'CCAFS SLC-40', 'No attempt', '03'),
 ('F9 B4  B1041.2', 'VAFB SLC-4E', 'No attempt', '03'),
 ('F9 B4  B1039.2', 'CCAFS SLC-40', 'No attempt', '04'),
 ('F9 B4 B1045.1', 'CCAFS SLC-40', 'Success (drone ship)', '04'),
 ('F9 B5  B1046.1', 'KSC LC-39A', 'Success (drone ship)', '05'),
 ('F9 B4  B1043.2', 'VAFB SLC-4E', 'No attempt', '05'),
 ('F9 B4  B1040.2', 'CCAFS SLC-40', 'No attempt', '06'),
 ('F9 B4 B1045.2', 'CCAFS SLC-40', 'No attempt', '06'),
 ('F9 B5B1047.1', 'CCAFS SLC-40', 'Success', '07'),
 ('F9 B5B1048.1', 'VAFB SLC-4E', 'Success', '07'),
 ('F9 B5 B1046.2', 'CCAFS SLC-40', 'Success', '08'),
 ('F9 B5B1049.1', 'CCAFS SLC-40', 'Success', '09'),
 ('F9 B5 B1048.2', 'VAFB SLC-4E', 'Success', '10'),
 ('F9 B5 B1047.2', 'KSC LC-39A', 'Success', '11'),
 ('F9 B5 B1046.3', 'VAFB SLC-4E', 'Success', '12'),
 ('F9 B5B1050', 'CCAFS SLC-40', 'Failure', '12'),
 ('F9 B5B1054', 'CCAFS SLC-40', 'No attempt', '12'),
 ('F9 B5 B1049.2', 'VAFB SLC-4E', 'Success', '01'),
 ('F9 B5 B1048.3', 'CCAFS SLC-40', 'Success', '02'),
 ('F9 B5B1051.1', 'KSC LC-39A', 'Success', '03'),
 ('F9 B5B1056.1 ', 'CCAFS SLC-40', 'Success', '05'),
 ('F9 B5 B1049.3', 'CCAFS SLC-40', 'Success', '05'),
 ('F9 B5 B1051.2 ', 'VAFB SLC-4E', 'Success', '06'),
 ('F9 B5 B1056.2 ', 'CCAFS SLC-40', 'Success', '07'),
 ('F9 B5 B1047.3 ', 'CCAFS SLC-40', 'No attempt ', '08'),
 ('F9 B5 B1048.4', 'CCAFS SLC-40', 'Success', '11'),
 ('F9 B5B1059.1', 'CCAFS SLC-40', 'Success', '12'),
 ('F9 B5 B1056.3 ', 'CCAFS SLC-40', 'Success', '12'),
 ('F9 B5 B1049.4', 'CCAFS SLC-40', 'Success', '01'),
 ('F9 B5 B1046.4', 'KSC LC-39A', 'No attempt', '01'),
 ('F9 B5 B1051.3', 'CCAFS SLC-40', 'Success', '01'),
 ('F9 B5 B1056.4', 'CCAFS SLC-40', 'Failure', '02'),
 ('F9 B5 B1059.2', 'CCAFS SLC-40', 'Success', '03'),
 ('F9 B5 B1048.5', 'KSC LC-39A', 'Failure', '03'),
 ('F9 B5 B1051.4', 'KSC LC-39A', 'Success', '04'),
 ('F9 B5B1058.1 ', 'KSC LC-39A', 'Success', '05'),
 ('F9 B5 B1049.5', 'CCAFS SLC-40', 'Success', '06'),
 ('F9 B5 B1059.3', 'CCAFS SLC-40', 'Success', '06'),
 ('F9 B5B1060.1', 'CCAFS SLC-40', 'Success', '06'),
 ('F9 B5 B1058.2 ', 'CCAFS SLC-40', 'Success', '07'),
 ('F9 B5 B1051.5', 'KSC LC-39A', 'Success', '08'),
 ('F9 B5 B1049.6', 'CCAFS SLC-40', 'Success', '08'),
 ('F9 B5 B1059.4', 'CCAFS SLC-40', 'Success', '08'),
 ('F9 B5 B1060.2 ', 'KSC LC-39A', 'Success', '09'),
 ('F9 B5 B1058.3 ', 'KSC LC-39A', 'Success', '10'),
 ('F9 B5 B1051.6', 'KSC LC-39A', 'Success', '10'),
 ('F9 B5 B1060.3', 'CCAFS SLC-40', 'Success', '10'),
 ('F9 B5B1062.1', 'CCAFS SLC-40', 'Success', '11'),
 ('F9 B5B1061.1 ', 'KSC LC-39A', 'Success', '11'),
 ('F9 B5B1063.1', 'VAFB SLC-4E', 'Success', '11'),
 ('F9 B5 B1049.7 ', 'CCAFS SLC-40', 'Success', '11'),
 ('F9 B5 B1058.4 ', 'KSC LC-39A', 'Success', '12')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [34]:
%sql PRAGMA table_info(spacextbl)

 * sqlite:///my_data1.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing _Outcome', 'TEXT', 0, None, 0)]

In [37]:
%sql select [Landing _Outcome] from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('No attempt',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('No attempt',),
 ('No attempt',),
 ('Controlled (ocean)',),
 ('Controlled (ocean)',),
 ('No attempt',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Failure (drone ship)',),
 ('Controlled (ocean)',),
 ('No attempt',),
 ('Failure (drone ship)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Failure (drone ship)',),
 ('Failure (drone ship)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Failure (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('No attempt',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('No attempt',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('No attempt',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Controlled (ocean)',),
 ('Success (ground pad)',),
 ('Controlled (ocean)',),
 ('No attempt',),
 ('No attempt',),
 ('No attempt',),
 ('No attempt',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('No attempt',),
 ('No attempt',),
 ('No attempt',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Failure',),
 ('No attempt',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('No attempt ',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('No attempt',),
 ('Success',),
 ('Failure',),
 ('Success',),
 ('Failure',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',),
 ('Success',)]

In [55]:
%sql select [Landing _Outcome] , count (*) as Frequency from SPACEXTBL WHERE [Landing _Outcome] LIKE '%Success%' group by [Landing _Outcome]

 * sqlite:///my_data1.db
Done.

[('Success', 38), ('Success (drone ship)', 14), ('Success (ground pad)', 9)]

In [50]:
%%sql select [Landing _Outcome], COUNT(*) as Outcomes
FROM SPACEXTBL
group by [Landing _Outcome]
order by [Landing _Outcome] desc

 * sqlite:///my_data1.db
Done.

[('Uncontrolled (ocean)', 2),
 ('Success (ground pad)', 9),
 ('Success (drone ship)', 14),
 ('Success', 38),
 ('Precluded (drone ship)', 1),
 ('No attempt ', 1),
 ('No attempt', 21),
 ('Failure (parachute)', 2),
 ('Failure (drone ship)', 5),
 ('Failure', 3),
 ('Controlled (ocean)', 5)]

In [14]:
%%sql select [Landing _Outcome], COUNT(*) as Outcomes
FROM SPACEXTBL
WHERE DATE BETWEEN '04-06-2010' and '20-03-2017' 
group by [Landing _Outcome]
order by [Outcomes] desc

 * sqlite:///my_data1.db
Done.

[('Success', 20),
 ('No attempt', 10),
 ('Success (drone ship)', 8),
 ('Success (ground pad)', 6),
 ('Failure (drone ship)', 4),
 ('Failure', 3),
 ('Controlled (ocean)', 3),
 ('Failure (parachute)', 2),
 ('No attempt ', 1)]

In [60]:
%%sql
SELECT max(Date) from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('31-01-2018',)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>